{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Controle Almoxarifado</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">
                <li class="active"><a class="navbar-brand" href="{% url 'general_list' %}">Controle Almoxarifado</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastro <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'item_new' %}">Cadastro de Equipamentos</a></li> 
                        <li><a href="">Cadastro de Itens</a></li>                                        
                    </ul>
                </li>
                <li><a href="{% url 'equip_list' %}">Equipamentos</a></li>
                <li><a href="{% url 'item_list' %}">Itens</a></li>
            </ul>
        </nav>         
                {% block content %}
                {% endblock %}  
    </body>
</html>