{% extends 'almoxarifado/base.html' %}

{% block content %}
<div class="equip">
        <h2>Equipamento: {{ equip.tipo }} {{ equip.fabricante }} {{ equip.modelo }} <a class="btn btn-default" href="{% url 'item_edit' pk=equip.pk %}">Editar</a></h2>                       
        <ul>
            <li>Tipo: {{ equip.tipo }}</li>
            <li>Fabricante: {{ equip.fabricante }}</li>
            <li>Ativo Imobilizado: {{ equip.ativo_imobilizado }}</li>
            <li>Número de série: {{ equip.serial_number }}</li>                
            <li>Status: {{ equip.status }}</li>           
            <li>Prateleira: {{ equip.prateleira }}</li>
            <li>Observações: {{ equip.observacoes }}</li>
        </ul>
    </div>
    {% endblock %}