{% extends 'almoxarifado/base.html' %}
{% load widget_tweaks %}

    {% block content %}
    <div class="table-responsive">
        <table class ="table table-hover">
                <h3>Definição de Itens: </h3>
                <p>Categoriza-se como itens todo tipo de equipamento ou consumível cujo quais não realizamos controle através de ativo imobilizado por exemplo, toners, mouses, teclados, etc.</p>                 
                <form method="get">
                    <div class="well">
                        <h4>Filtrar</h4>
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-3">
                                {{ filter.form.item.label_tag }}
                                {% render_field filter.form.item class="form-control" %}
                            </div>
                            <div class="form-group col-sm-4 col-md-3">
                                {{ filter.form.tipo.label_tag }}
                                {% render_field filter.form.tipo class="form-control" %}
                            </div>
                            <div class="form-group col-sm-4 col-md-3">
                                {{ filter.form.status.label_tag }}
                                {% render_field filter.form.status class="form-control" %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>                        
                    </div>
                </form>
                <tr>
                    <th>Item</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                </tr>
            {% for item in filter.qs %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>{{ item.status }}</td>
                    <td><a href="{% url 'item_detail' pk=item.pk %}">Visualizar</a></td>
                </tr>
            {% endfor %}
        </table><br/>
    </div>
    {% endblock %}  