{% extends 'almoxarifado/base.html' %}

{% block content %}
<div class="equip">
        <h2>Item: {{ item.item }} {{ item.fabricante }} <a class="btn btn-default" href="{% url 'item_edit' pk=item.pk %}">Editar</a></h2>                       
        <ul class="list-group">
            <li class="list-group-item">Tipo: {{ item.tipo }}</li>
            <li class="list-group-item">Fabricante: {{ item.fabricante }}</li>
            <li class="list-group-item">Quantidade: {{ item.quantidade }}</li>
            <li class="list-group-item">Status: {{ item.status }}</li>           
            <li class="list-group-item">Prateleira: {{ item.prateleira }}</li>
        </ul>
    </div>
{% endblock %}